<h1>Here's your parcel shipping information and quote.<h1>
<p>This this is the volume of your package: @Model.GetVolume().</p>
<p>This is the weight of your package: @Model.GetWeight().</p>
<p>This is the cost of shipping your package: @Model.GetPrice().</p>
<p>Thanks!</p>
