<h1>Here's your parcel shipping volume and quote.<h1>
<p>This this is the volume of your package: @Model.GetVolume().</p>
<p>This is the cost of shipping your package: @Model.GetPrice().</p>
<button type="button" name="button" class="btn btn-info">Validate</button>
<p>Thanks!</p>
